body {
  font-family: "Roboto", sans-serif !important;
}

/*Navbar all pages*/
#navbar {
  background: linear-gradient(0.25turn, #07bcce, #3089d7, #6e3de5);

  .nav-logo {
    width: 180px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

    .nav-logo:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
}

.nav-btn {
    border: none !important;
    color: white !important;
 
  }

  .nav-form .nav-control {
    width: 100% !important;
  }
  .col-pixel-width-40 { flex: 0 0 40px; }
  

  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #07bcce;
    background-color: white;
  }
  ul.nav-color a:hover {
    color: #6e3de5;
    background-color: white;
  }
  .nav-hover {
    color: #3089d7;
  }
  .nav-hover:hover {
    color: white;
    background-color: #07bcce;
  }
  ul.nav-color a.nav-hover:hover {
    color: white;
    background-color:#6e3de5;
  }
  
}

//Responsive Browser
@media all and (min-width: 1024px) {
  .nav-banner {
    width: 100%;
    height: 50em;
  } 
  
}

  //Responsive other
    @media all and (max-width: 1023px) {
      .nav-banner{
      width: 100%;
      height: auto;
    } 
  }
  
  

  
