/*************************************************************
                             GLOBAL
*************************************************************/

body, html {
  font-family: "Roboto", sans-serif !important;
  width: 100%;
  height: 100vh;
} 
h1 {
  color:#6e3de5 !important;
}
h2 {
  color:#07bcce !important;
}
li {
  list-style-type: none;
  text-decoration: none;
}

.img-footer {
  width: 100%;
  height: 350px;
}

/*************************************************************
                             NAV
*************************************************************/
#navbar {
  background: linear-gradient(0.25turn, #07bcce, #3089d7, #6e3de5);
  
  .nav-logo {
    width: 180px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .nav-logo:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
     
  }

.nav-btn {
    border: none !important;
    color: white !important;
 
  }

  .nav-form .nav-control {
    width: 100% !important;
  }
  .col-pixel-width-40 { flex: 0 0 40px; }
  

  a {
    color: white;
    text-decoration: none;
  }

  .nav-menu-left:hover {
    color: #07bcce;
    background-color: white;
  }
  .nav-item-left {
    color: #07bcce !important;
    background-color: white !important;
  }
  .nav-item-left:hover {
    color: white !important;
    background-color: #07bcce !important;
  }

  .nav-menu-right:hover {
    color: #6e3de5;
    background-color: white;
  }
  .nav-item-right {
    color: #6e3de5 !important;
    background-color: white !important;
  }
  .nav-item-right:hover {
    color: white !important;
    background-color: #6e3de5 !important;
  }
  
}
.nav-banner{
  width: 100%;
  height: auto;
} 
/*************************************************************
                             FOOTER
*************************************************************/
.footer {
  background: linear-gradient(  #07bcce, #3089d7, #6e3de5 ) !important;
  color: white !important;
  a {
    color: white;
    text-decoration: none;
  }

  .footer-link {
  color: white !important;
 
 
  }
  .footer-title {
    font-size: 1rem !important;
    font-style: italic;
    font-weight: bold;
  }
  .footer-text {
    font-size: 0.8rem !important;


   }
 

  
}
 /*************************************************************
                             FORM
*************************************************************/
  .form {
.form-title {
  color:#6e3de5 !important;
}
 .form-valid {
  color: #3089d7 !important;
 }}

/*************************************************************
                             MAP
*************************************************************/
 #mapContainer {
  width: 100vw;
  height: 70vh;
 
}

.map-store{
  li {
    font-size: 0.9rem;
  }
  .map-title {
    font-style: italic;
    color: #07bcce;
  }


}


/*************************************************************
                             GAMES
*************************************************************/
.game-title {
  font-size: 17px;
  font-weight: 900;
  color: #1290b5 !important;
  display: flex;
  justify-content: center;
}

/*************************************************************
                             ABOUT SPOOKNICK GAMES
*************************************************************/
.about-spooknick {
  .about-style {
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
  }
  
  .about-letter {
font-size: 1.5rem;

color: grey;
  }
  .about-letter-color {
    color:#3089d7;
  }
}
.dropdown-social {
 font-size: 2rem;
}
.about-text {
  font-size: 0.9rem;
}