body {
  font-family: "Roboto", sans-serif !important;
}
#navbar {
  background: linear-gradient(0.25turn, #07bcce, #3089d7, #6e3de5);

  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: black !important;
  }
}
